
# Ignore Terraform state files and cache
*.tfstate
*.tfstate.backup
.terraform/
terraform/lambda.zip
terraform/modules/lambda/lambda.zip
terraform/terraform.tfvars
terraform/modules/slack_forwarder/lambda/slack_alert_forwarder.zip

# Ignore temporary files
response.json
tfplan

# Ignore system and editor files
.DS_Store
*.swp

# Ignore venv directory
.venv/