# Ignore Terraform state files and cache
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.zip

# Ignore temporary files
response.json
tfplan

# Ignore system and editor files
.DS_Store
*.swp
