
# Ignore Terraform state files and cache
*.tfstate
*.tfstate.backup
.terraform/
terraform/lambda.zip
terraform/modules/lambda/lambda.zip
terraform/terraform.tfvars
terraform/modules/slack_forwarder/lambda/slack_alert_forwarder.zip
*.zip
__pycache__

# Ignore temporary files
response.json
tfplan

# Ignore system and editor files
.DS_Store
*.swp

# Ignore venv directory
.venv/

# Compiled Python files
*.pyc
*.pyo

# IDE config folders
.vscode/
.idea/

# secret in k8s
k8s/secret.yaml

# others
minikube-linux-amd64
