# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest cache
.pytest_cache/

# Virtual environments
.venv/

# Terraform local state
*.tfstate
*.tfstate.backup
.terraform/

# Logs
*.log

# IDE
.vscode/
.idea/
